@import "tailwindcss";

:root {
  --black: #121212;
  --white: #ffffff;
  --main: #f80498;
  --pink-light: #ffb5e6;
}

@theme inline {
  --color-white: #ffffff;
  --color-black: #121212;
  --color-main: #f80498;
  --color-pink-light: #ffb5e6;

  --font-actay: var(--font-actay), sans-serif;
  --font-guano-apes: var(--font-guano-apes), sans-serif;
  --font-montserrat: var(--font-montserrat), sans-serif;
}

@layer base {
  :root:has(.no-doc-scroll) {
    overflow: hidden;
    scrollbar-gutter: stable;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    background: var(--black);
    color: var(--white);
    font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ul {
    list-style: none;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}
